:root {
    --blue: #649ed7;
    --darkblue: #44698E;

    --red: #d76464;
    --darkred: #8e4444;
}

::placeholder {
    color: darkgray;
    opacity: 1;
}

* {
    box-sizing: border-box;
    color: #333;
    text-align: justify;
    font-family: sans-serif;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

form {
    text-align: center;
}

button, a.button {
    padding: .6rem 1rem;
    border-radius: 3px;
    outline: none;
}

button, input {
    font-size: 1.2em;
}

button, a.button {
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
}

button.medium {
    font-size: medium;
}

button:hover, a.button:hover {
    background-color: var(--darkblue);
    text-decoration: none;

    transition: background-color .1s, box-shadow .1s, box-shadow .1s;
}

button, a.button {
    box-shadow: 0 1px 2px #99a;
}

button:hover, a.button:hover {
    box-shadow: 0 2px 4px #99a;
}

label button {
    font-size: medium;
}

label button:hover {
    box-shadow: none;
}

label:has(> input) {
    width: 100%;
    height: 3rem;
    display: flex;
    padding: 3px;
    background-color: white;

    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px lightgray;

    transition: box-shadow .1s, border .1s;
}

label:has(> input:focus) {
    box-shadow: 0 0 3px var(--blue);
    border: 1px solid var(--blue);
}

label#query:before {
    content: "PLZ und Ort";
    color: darkgray;
    font-size: 0.6rem;
    width: fit-content;
    display: block;
    position: absolute;
    margin: auto calc(.6rem + 3px);
}

label#query:has(> input:focus):before {
    color: var(--darkblue)
}

label#query:has(> input:placeholder-shown):before {
    display: none;
}

label#query button {
    box-shadow: none;
}

input {
    width: 100%;
    border: none;
    margin: 0 .6rem;
    outline: none;
}

header {
    top: 0;

    z-index: 10;

    padding: 1em 0;

    background: #eee;
    border-top: 1px solid transparent;
    border-bottom: 1px solid lightgrey;

    box-shadow: 0 1px 4px lightgrey;
}

label#state select {
    border: none;
    margin: .2rem auto;
    outline: none;
    padding: .6rem 1rem;
    width: 100%;

    border-radius: 3px;
    font-size: medium;
}

label#state button {
    margin: .2rem auto;
    width: 100%;
    text-align: center;
}

header:after {
    content: ' ';
    display: block;
    height: 1em;
}

main {
    margin: 1em auto;
    width: 920px;
}

.content {
    margin: 0 auto;
    width: 920px;
}

.centered {
    text-align: center;
}

.form-row {
    display: flex;
    gap: 1em;
}

.label {
    width: 40%;
    display: inline-block;
}

.large {
    font-size: 1.2em;
}

.grey-out * {
    color: darkgray;
}

.float-right {
    float: right;
}

#mode {
    border: none;
    background-color: transparent;
    margin: 1rem 0;

    font-size: larger;
    font-weight: bold;
}

#chart {
    width: 580px;
    height: 580px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: white;
}

#chart.loading div:has(> canvas) {
    display: none;
}

#settings {}

#chart.loading:before {
    content: '';
    width: 3rem;
    height: 3rem;
    border: 6px solid var(--blue);
    border-radius: 50%;
    border-top: 6px solid #eee;
    display: block;
    margin: 0 auto;
    animation: spin 2s linear infinite;
    position: relative;
    top: 12rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

fieldset {
    margin: 2rem 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

fieldset > div {
    display: flex;
    margin: .2rem 0;
}

fieldset label {
    font-size: smaller;
    min-width: 8rem;
}

input-startend-range {
    width: 10rem;
}

.slide-wrapper {
    height: 3rem;
}

.slide {
    display: flex;
    position: relative;
    width: 10rem;
}

.slide > input[type=range] {
    appearance: none;
    position: absolute;
    outline: none;
    background-color: transparent;
    pointer-events: none;
    margin: auto;
}

.slide > input[type=range]::-moz-range-track,
.slide > input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    height: 4px;
}

.slide > input[type=range]::-moz-range-thumb,
.slide > input[type=range]::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    background-color: var(--blue);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 1px 2px gray;
    pointer-events: auto;
}

.slide-wrapper #trackb,
.slide-wrapper #trackd {
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #ccc;
    margin: 10px auto;
}

.slide-wrapper > .slide-value {
    font-size: smaller;
    display: block;
    position: relative;
    background-color: var(--blue);
    color: white;
    padding: 0.2rem .6rem;
    border-radius: 3px;
    text-align: center;
    margin: 1.6rem auto 0 auto;
    width: fit-content;
}

.slide-wrapper > .slide-value::before {
    content: "";
    display: block;
    position: absolute;
    margin: 0 auto;
    background-color: var(--blue);
    width: 8px;
    height: 8px;
    rotate: 45deg;
    top: -4px;
    z-index: -10;
    left: 0;
    right: 0;
}
